<div id="carouselExampleIndicators" class="carousel slide mar" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag("p6.jpg",height: '800', class: "d-block w-100")%>
           <div class="carousel-caption d-none d-md-block">
               <h1 class="mb-3">Welcome To RealState</h1>
               <p>Select House According To Your Choice</p>
           </div>
          <%# <img class="d-block w-100" src="" alt="First slide"> %>
        </div>
        <div class="carousel-item">
          <%= image_tag("m1.jpg",height: '800', class: "d-block w-100")%>
          <div class="carousel-caption d-none d-md-block">
               <h1 class="mb-3">Want To Buy</h1>
               <p>Select Houses According To Your Choice</p>
           </div>
          <%# <img class="d-block w-100" src="..." alt="Second slide"> %>
        </div>
        <div class="carousel-item">
          <%= image_tag("m2.jpg",height: '800', class: "d-block w-100")%>
          <div class="carousel-caption d-none d-md-block">
               <h1 class="mb-3">Want To Sell</h1>
               <p>Select Houses According To Your Choice</p>
           </div>
          <%# <img class="d-block w-100" src="..." alt="Third slide"> %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
<script>



</script>
<style>
/* @media(max-width: 768px){
  .slideee{
   width:100%;
} */
@media(max-width: 400px){
  .mar{
   width:375px;
}
}
@media(max-width: 368px){
  .mar{
   width:360px;
}
}
@media(max-width: 320px){
  .mar{
   width:320px;
}
}
</style>
<section>
<div class="search-content"style="background-color: rgba(34, 34, 34, 0.85);padding: 15px; border-radius:10px;">
    <div class="form-row ">
        <div class="form-group col-lg-6">
            <label for="city">City</label>
            <select class="form-control" id="select-city">
                <option>Lahore</option>
                <option>Karachi</option>
                <option>Islamabad</option>
                <option>Faislabad</option>
                <option>Multan</option>
                <option>Kashmir</option>
                <option>Others</option>
            </select>
        </div>
        <div class="form-group col-lg-6">
            <label for="city">Property Type</label>
                    <select class="form-control" id="select-property-type">
                    <option>Plot</option>
                    <option>House</option>
                    <option>Commercial</option>
                    <option>Others</option>
                    </select>
        </div>
    </div>
    <div class="form-row ">
        <div class="form-group col-lg-10">
            <select class="form-control" id="select-purpose">
                <option>Sale</option>
                <option>Rent</option>
            </select>
        </div>
        <div class="form-group col-md-2">

            <button type="button" class="btn btn-success " id="select-search" >Search</button>
        </div>
    </div>
</div>
</section>
<section>
    <%= render 'shared/my_slider', ads: @featured_ads , title: "Featured Ads" %>
</section>
<section>
    <h1 class="text-center text-capitalize" style="margin-top: 150px;">Ads For You</h1>
    <div class="borderr mb-5"></div>
    <div id="filter-list"><%= render 'shared/ads_listing', obj:@ads , title: "Ads For You"%></div>
    </br>
    <div id="pagination-block">
        <%= will_paginate @ads, class:"hello3" %>
    <div>
    <hr>

</section>

<section id="aboutt">
<h1 class="text-center text-capitalize pt-5">about us</h1>
<p class="text-center text-capitalize pt-3">We have the best projects in pakistan.
</p>
<div class="borderr mb-5"></div>
<div class="body1">
    <div class="container" id="con1">
        <div class="card">
            <div class="imgbx">
                <%= image_tag("p10.jpg",style: "max-width:100%; height:100%; border-radius:4px;")%>
            </div>
            <div class="content1">
                <p>Real State is the largest property portal in Pakistan and is among the top five property portals in the world. It was founded in 2020</p>

            </div>
        </div>
        <div class="card">
            <div class="imgbx">
                <%= image_tag("p7.jpg",style: "max-width:100%; height:100%; border-radius:4px;")%>
            </div>
            <div class="content1">
                <p>Real State has since revolutionised the real estate industry of Pakistan by connecting buyers and sellers online in a highly convenient.
                </p>

            </div>
        </div>
        <div class="card">
            <div class="imgbx">
                <%= image_tag("p11.jpg",style: "max-width:100%; height:100%; border-radius:4px;")%>
            </div>
            <div class="content1">
                <p>Real State has since grown from strength to strength, with much employees and presence in over 07 cities around Pakistan, and offices in Pakistan.
                </p>

            </div>
        </div>
    </div>
</div>
</section>
<section>
    <%= render 'shared/testi'%>
</section>
<script>
        setTimeout(() => {
            $('document').ready(function() {
                $('#select-search').on('click', function(){
                    var url = "/ads_filter"
                    $.ajax({
                        type: "GET",
                        url: url,
                        dataType: 'json',
                        data: {
                            "city" : $("#select-city").val(),
                            "purpose" : $("#select-purpose").val(),
                            "property_type" : $("#select-property-type").val()
                        },
                        success: function(data) {
                                var html_code = '<div id="search_results">';
                                if(data.ads.length > 0) {
                                    for (let i = 0; i < data.ads.length; i++) {
                                        html_code += '<h1 id="search_results">' + data.ads[i].id + '</h1>';
                                    }
                                } else {
                                    html_code = '<h3 id="search_results" style="text-align:center">No Ad Found</h3>';
                                }
                                $('#filter-list').html(html_code);
                                $('#pagination-block').hide();
                                jQuery("html").animate({
                                    scrollTop:jQuery("#filter-list").offset().top - 140
                                });
                        },
                        error: function(e){
                            $('#filter-list').html('<h3 style="text-align:center">No Data Found</h3>');
                        }
                    })
                })
            });
        }, 1000);

</script>
