<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag("p6.jpg",height: '800', class: "d-block w-100")%>
           <div class="carousel-caption d-none d-md-block">
               <h1 class="mb-3">Welcome To RealState</h1>
               <p>Select House According To Your Choice</p>
           </div>
          <%# <img class="d-block w-100" src="" alt="First slide"> %>
        </div>
        <div class="carousel-item">
          <%= image_tag("p5.jpg",height: '800', class: "d-block w-100")%>
          <div class="carousel-caption d-none d-md-block">
               <h1 class="mb-3">Want To Buy</h1>
               <p>Select Houses According To Your Choice</p>
           </div>
          <%# <img class="d-block w-100" src="..." alt="Second slide"> %>
        </div>
        <div class="carousel-item">
          <%= image_tag("p4.jpg",height: '800', class: "d-block w-100")%>
          <div class="carousel-caption d-none d-md-block">
               <h1 class="mb-3">Want To Sell</h1>
               <p>Select Houses According To Your Choice</p>
           </div>
          <%# <img class="d-block w-100" src="..." alt="Third slide"> %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
<h4 class="head2" style="color:White; text-align: center;">Find New Projects In Pakistan</h4>
<div class="search-content"style="background-color: rgba(34, 34, 34, 0.85);padding: 15px; border-radius:10px;">
    <div class="form-row ">
        <div class="form-group col-lg-6">
            <label for="city">City</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Lahore</option>
                <option>Karachi</option>
                <option>Islamabad</option>
                <option>Faislabad</option>
                <option>Multan</option>
                <option>Kashmir</option>
                <option>Others</option>
            </select>
        </div>
        <div class="form-group col-lg-6">
            <label for="city">Property Type</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                    <option>Plot</option>
                    <option>House</option>
                    <option>Commercial</option>
                    <option>Others</option>
                    </select>
        </div>
    </div>
    <div class="form-row ">
        <div class="form-group col-lg-10">
            <select class="form-control" id="exampleFormControlSelect2">
                <option>Buy</option>
                <option>Rent</option>
            </select>
        </div>
        <div class="form-group col-md-2">

            <button type="button" class="btn btn-success ">Search</button>
        </div>
    </div>
</div>
<section id="aboutt">
<h1 class="text-center text-capitalize pt-5">about us</h1>
<p class="text-center text-capitalize pt-3">We have the best projects in pakistan.
</p>
<hr class="w-25 mx-auto pt-5">
<div class="body1">
    <div class="container" id="con1">
        <div class="card">
            <div class="imgbx">
                <%= image_tag("p10.jpg",style: "max-width:100%; height:100%; border-radius:4px;")%>
            </div>
            <div class="content1">
                <p>Real State is the largest property portal in Pakistan and is among the top five property portals in the world. It was founded in 2020</p>

            </div>
        </div>
        <div class="card">
            <div class="imgbx">
                <%= image_tag("p7.jpg",style: "max-width:100%; height:100%; border-radius:4px;")%>
            </div>
            <div class="content1">
                <p>Real State has since revolutionised the real estate industry of Pakistan by connecting buyers and sellers online in a highly convenient way.
                </p>

            </div>
        </div>
        <div class="card">
            <div class="imgbx">
                <%= image_tag("p11.jpg",style: "max-width:100%; height:100%; border-radius:4px;")%>
            </div>
            <div class="content1">
                <p>Real State has since grown from strength to strength, with much employees and presence in over 07 cities around Pakistan, and offices in Pakistan.
                </p>

            </div>
        </div>
    </div>
</div>
</section>
<section>
    <%= render 'shared/ads_listing', obj:@ads , title: "Ads For You"%>
    </br>
    <%= will_paginate @ads, class:"hello3" %>
    <hr>
</section>


<section id="tes">
<h1 class="text-center text-capitalize pt-5">Our Testimonials</h1>
<hr class="w-25 mx-auto pt-5">
<div class="body3">
    <div class="container" id ="testi">
        <div class="wrapper">
            <div class="card-1">
                <div class="card-thumb">
                    <%= image_tag("p2.jpg",style: "width:100%; height:100%; border-radius:4px; object-fit: cover;")%>
                    <span class="client-name">Author</span>
                </div>
                <div class="card-bodyy">
                    <p class="review">Learning things is my passion and Im very passionate about being able to help the people in need; my IT degree will help me to do this.And this website helps lot of people."</p>
                    <h2>Muhammad Waseem</h2>
                    <h4>Follow us</h4>
  	 			    <div class="social-links">
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			    </div>
                </div>
            </div>
            <div class="card-1">
                <div class="card-thumb">
                    <%= image_tag("p12.jpg",style: "width:100%; height:100%; border-radius:4px; object-fit: cover;")%>
                    <span class="client-name">Developer</span>
                </div>
                <div class="card-bodyy">
                    <p class="review">"Learning code is my obsession".In August 2016,I took the little I have saved and bought a computer,and installed ubuntu and start working on my passion and taught myself.</p>
                    <h2>Muddasir Zafar</h2>
                     <h4>Follow us</h4>
  	 			    <div class="social-links">
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			    </div>
                </div>
            </div>
            <div class="card-1">
                <div class="card-thumb">
                    <%= image_tag("p14.jpg",style: "width:100%; height:100%; border-radius:4px; object-fit: cover;")%>
                    <span class="client-name">Designer</span>
                </div>
                <div class="card-bodyy">
                    <p class="review">Many companies struggle to grab people's attention using their testimonial pages, but RealState does a great job of catching your eye as soon as you arrive on the page.</p>
                    <h2>Muhammad Haris</h2>
                    <h4>Follow us</h4>
  	 			    <div class="social-links">
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="indicatorss">
            <button class="activee"></button>
            <button></button>
            <button></button>
        </div>
    </div>
</div>
</br>
</br>
</section>
<style>
.card-bodyy .social-links a{
	display: inline-block;
	height: 28px;
	width: 28px;
	background-color: black;
	margin:0 5px 5px 0;
	text-align: center;
	line-height: 28px;
	border-radius: 50%;
	color: White;
	transition: all 0.5s ease;
}
.card-bodyy .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
</style>
<script>
const wrapper = document.querySelector('.wrapper');
const indicatorss = [...document.querySelectorAll('.indicatorss button')];

 let currentTestimonial = 0; // Default 0

    indicatorss.forEach((item, i) => {
    item.addEventListener('click', () => {
    indicatorss[currentTestimonial].classList.remove('activee');
    wrapper.style.marginLeft = `-${100 * i}%`;
    item.classList.add('activee');
    currentTestimonial = i;
})
})
</script>
 <script>
        setTimeout(() => {
            $('document').ready(function() {
                $('#go_for').on('click', function(){
                    var url = "/ads_filter"
                    $.ajax({
                        type: "GET",
                        url: url,
                        dataType: 'json',
                        data: {
                            "status" : $("#bugselect").val()
                        },
                        success: function(data) {
                                var html_code = "";
                                for (let i = 0; i < data.ads.length; i++) {
                                    html_code += "<h1>" + data.ads[i].id + "</h1>";
                                }
                                $('#div1').html(html_code);
                        },
                        error: function(e){
                            alert('error');
                        }
                    })
                })
            });
        }, 1000);

   </script>
